.sidenav {
  margin: 0;
  padding: 0;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

header {
  font-size: x-large;
  font-weight: 900;

}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-wrap: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #000000;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  
  margin: 1em 0;
  font-family: Courier, 'New Courier', monospace;
  font-size: 12px;
  color: green;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* Style page content */
.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 1px 16px;
  height: 1000px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {
    float: left;
  }
  main.main { margin-left: 0;}
}
@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
}

